name: Create and publish a Docker image

on:
  push:
    branches: [ "main" ]
    tags: [ v* ]
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Set lower case owner name
      run: |
        echo "OWNER_LC=${OWNER,,}" >> ${GITHUB_ENV}
      env:
        OWNER: '${{ github.repository_owner }}'

    - name: Build the Docker image
      run: |
        docker login --username enishowk --password ${{ secrets.GH_PAT }} ghcr.io
        docker build . --tag ghcr.io/${OWNER_LC}/debridarr:latest
        docker push ghcr.io/${OWNER_LC}/debridarr:latest
